<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <a href="/log_in">Login</a>
  <a href="/sign_up">Sign Up</a>

  <% if (userId) { %>
  <p>Current logged in user id: <%= userId %></p>
  <form action="/session?_method=delete" method="POST">
    <button>Log Out</button>
  </form>
  <% } %>
</body>

</html>